.header{background: #1f2937;
color: #f9faf8;}
.below-header{background: #1f2937;
color:#f9faf8}
.info{color:#1f2937}
.message{background: #e5e7eb;
color: #1f2937;}
.footer{background: #1f2937;
    color: #f9faf8;}